{% extends 'base.html' %}

{% block title %}Login Page{% endblock %}

{% block content %}
<div class="login-container">
    <form action="{{  url_for('custom_login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p>
        Don't have an account? <a href="{{ url_for_security('register') }}">Register</a>
    </p>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div>
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}
